<section>
    <mat-card>
        <mat-card-content>
            <button mat-raised-button>
                <mat-icon>
                    reset
                </mat-icon>
                Reset
            </button>

            <button mat-raised-button>
                <mat-icon>
                    download
                </mat-icon>
                Download
            </button>

            <button mat-raised-button>
                <mat-icon>
                    load
                </mat-icon>
                load
            </button>
        </mat-card-content>
    </mat-card>
</section>