<section>
   

    <mat-card>
        <mat-card-header>
            <h1>
                Simple GTK theme editor
            </h1>
        </mat-card-header>
        <mat-card-content>
            <h3>
                By: Mohit Pala
            </h3>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            Angular components used:
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    Directives
                </mat-list-item>
                <mat-list-item role="listitem">
                    Material
                </mat-list-item>
                <mat-list-item role="listitem">
                    Browser local storage
                </mat-list-item>
                <mat-list-item role="listitem">
                    ng oninit lifecycle hook to load items form local storage
                </mat-list-item>
                <mat-list-item role="listitem">
                    2 way binding
                </mat-list-item>
                <mat-list-item role="listitem">
                    ng form - as a wrapper for consistent look with input
                </mat-list-item>
                <mat-list-item role="listitem">
                    Http client - to get items form assets
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            Directives used:
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    ng if
                </mat-list-item>
                <mat-list-item role="listitem">
                    ng for
                </mat-list-item>
                <mat-list-item role="listitem">
                    ng model
                </mat-list-item>
                <mat-list-item role="listitem">
                    ng style
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            Angular material used:
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    Mat card - throughout the project
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat card
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Icon - in help page, menu
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Menu - in help page to select help component
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat List - help and about page inside the mat-card
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Tabs - top nav bar 
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Buttons - replacemnt for all buttons
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Button toggle - to selece the item to change
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Slider - to change RGB values
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Select - viewer component didsplay
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Input - viewer component display
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Radio - viewer component display
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Checkbox - viewer component display
                </mat-list-item>
                <mat-list-item role="listitem">
                    Mat Progressbar - viewer component display
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            External credits
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    catppuccin theme: for the basic template and my application's color theme https://github.com/catppuccin/catppuccin
                </mat-list-item>
                <mat-list-item role="listitem">
                    microsoft edge dev tools: to help me find the weird names used to theme angular material
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>