<section>

    <!-- 
		Replace with ng for	
	-->
    <mat-tab-group>
        <mat-tab label="Home">
            <!--
				Change to home component after testing
			-->

            <app-theme-load>
                
            </app-theme-load>
        </mat-tab>

        <mat-tab label="Help">
            <app-help-page>

            </app-help-page>
        </mat-tab>

        <mat-tab label="Edit">
            
        </mat-tab>

        <mat-tab label="Load">
            <app-load>
                
            </app-load>
        </mat-tab>
    </mat-tab-group>
</section>