<section>
    <div id="chnagerAndViewer">
        <div id="changer">
            <mat-card>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </div>

        <div id="viewer">
            <mat-card>
                <mat-card-content>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <mat-card id="bottomBar">
        <mat-card-header>
            Actions:
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button class="custom-color">
                🔄 Reset
            </button>
            <button mat-raised-button class="custom-color">
                <mat-icon>
                    download
                </mat-icon>
                Download
            </button>
            <button mat-raised-button class="custom-color">
                <mat-icon>
                    save
                </mat-icon>
                Save
            </button>
        </mat-card-content>
    </mat-card>

    <div *ngIf="false" id="load">

    </div>
</section>